/* ========================= */
/* UTILIDADES GENERALES */
/* ========================= */

.oculto {

    display: none !important;
}

.text-center {

    text-align: center;
}

.flex {

    display: flex;
}

.flex-column {

    flex-direction: column;
}

.justify-between {

    justify-content: space-between;
}

.align-center {

    align-items: center;
}