.contenedor-principal {

    display: flex;
    gap: 15px;
    padding: 20px;
    align-items: flex-start;
}

.contenedor-productos {

    flex: 1;
    min-width: 0;
    max-width: 60%;
}

.grid-productos {

    display: grid;
    grid-template-columns:
        repeat(
            auto-fit,
            minmax(280px, 300px)
        );
    gap: 15px;
}