.contenedor-principal {

    display: flex;

    gap: 20px;

    padding: 20px;
}

.grid-productos {

    display: grid;

    grid-template-columns:
        repeat(auto-fill, minmax(250px, 1fr));

    gap: 20px;

    width: 100%;
}