.contenedor-principal {

    display: flex;

    gap: 15px;

    padding: 20px;
}

.contenedor-productos {

    flex: 1;
}

.grid-productos {

    display: grid;

    grid-template-columns:
        repeat(
            auto-fit,
            minmax(280px, 300px)
        );


    gap: 15px;

    width: 100%;
}